.cropped-image {
    object-fit: cover;
    height: 20vw;
    width: 20vw;
}

.td-w-img {
    height: 20vw;
    width: 20vw;
}


@media only screen and (min-width: 1200px) {
    .card-image {
        height: 15vw !important;
        width: 15vw !important;
    }
}