.cropped-image {
    object-fit: cover;
    display: block;
    height: 20vw;
    width: 20vw;
}

.td-w-img {
    height: 20vw;
    width: 20vw;
}


.pag-style {
    width: 165px;
}

@media only screen and (max-width: 768px){
    .cropped-image {
        height: 30vw;
        width: 30vw;
    }
}

.float-to-bottom {
    bottom: 0 !important;
}