.link {
    text-decoration: underline;
    font-size: inherit;
    color: black;

}
.link:hover {
    color: cornflowerblue;
}

.error {
    margin-left: 5px;
    color: darkred;
    font-size: 12px;
}


